/* 403或404页面 */
.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #eef0fc;
  box-sizing: border-box;
}

.error-box {
  width: 400px;
  background-color: #fff;
  padding: 80px 50px;
  border-radius: var(--el-card-border-radius);
}

.error-code {
  line-height: 1;
  font-size: 100px;
  font-weight: bold;
  color: var(--el-color-primary);
  margin-bottom: 20px;
  text-align: center;
}

.error-desc {
  font-size: 20px;
  color: #777;
  text-align: center;
}

.error-handle {
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.error-btn {
  margin-left: 100px;
}

.info-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
