html:root {
  --header-bg-color: #fff;
  --header-text-color: #0a0a0a;
  --active-color: var(--el-color-primary);
  /* --content-bg-color: #eef0fc; */
  --content-bg-color: var(--el-bg-color);
  --content-bg: var(--el-bg-color);
  --main-bg: var(--el-bg-color-page);
  --sider-width: 200px;
  --side-hover-bg-color: var(--el-color-primary-light-9);
  --border-color: #e5e7eb;
  --collapsed-width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2 + 16px);
  --header-height: 70px;

  /* element */
  --el-menu-base-level-padding: 16px;
  --el-menu-level-padding: 16px;
  --el-card-border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none;
}
i {
  font-style: normal;
}

.container {
  padding: 16px 20px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--el-card-border-radius);
  background-color: var(--content-bg);
}

.plugins-tips {
  padding: 20px 12px;
  margin-bottom: 20px;
  background: var(--content-bg-color);
}

.plugins-tips a {
  color: var(--el-color-primary);
}

.el-button + .el-tooltip {
  margin-left: 10px;
}

.mgb20 {
  margin-bottom: 20px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}

.move-enter-active,
.move-leave-active {
  transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

[hidden] {
  display: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-row {
  & > td.el-table__cell {
    background-color: var(--color500) !important;
  }
}
html {
  background: var(--main-bg);
  .el-card {
    --el-card-border-radius: 8px;
  }
  .el-tree {
    --el-tree-text-color: var(--table-color);
  }
  .el-switch {
    --el-switch-on-color: var(--el-color-primary);
    --el-switch-off-color: var(--color300);
  }
  .el-textarea {
    .el-input__count {
      background: none;
    }
  }
  .el-input .el-input__count .el-input__count-inner {
    background: none;
  }
  .el-table {
    --el-table-header-bg-color: var(--tab-active-bg);
  }
  .el-popper.is-dark {
    color: var(--table-color);
    background-color: var(--tab-active-bg) !important;
  }
  .el-menu.sidebar-el-menu {
    .el-sub-menu.is-active,
    .el-sub-menu.is-opened:hover {
      .el-sub-menu__title {
        color: var(--table-color);
      }
    }
  }
}

.color-danger {
  color: var(--el-color-danger);
}

.el-table {
  --el-table-border-color: var(--border-color);
  --el-table-row-hover-bg-color: unset;
  --el-table-bg-color: transparent;
  .el-table__inner-wrapper {
    .el-table__header-wrapper {
      .el-table__header {
        thead {
          tr {
            th {
              &.is-leaf {
                background-color: var(--tab-active-bg);
                border-color: var(--tab-active-bg);
                height: 60px;
              }
            }
          }
        }
      }
    }

    .el-table__body-wrapper {
      .el-scrollbar {
        .el-scrollbar__wrap {
          .el-table__body {
            tbody {
              tr {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  .el-table__header-wrapper tr th.el-table-fixed-column--right {
    background-color: var(--tab-active-bg);
  }
  .el-table__body-wrapper tr td.el-table-fixed-column--right {
    background-color: var(--content-bg) !important;
  }
  .el-table__body-wrapper tr td.el-table-fixed-column--left {
    background-color: var(--content-bg) !important;
  }

  .cell {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: var(--table-color);
    line-height: 22px;
    font-weight: 400;
    .el-checkbox {
      .el-checkbox__input {
        .el-checkbox__inner {
          background: var(--input-bg);
          border: 1px solid var(--border-color);
          border-radius: 2px;
        }
      }
    }
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background: var(--el-color-primary);
      border-radius: 2px;
    }
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
      background: var(--el-color-primary);
      border-radius: 2px;
    }
  }

  th.el-table__cell > .cell {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: var(--table-header-color);
    line-height: 22px;
    font-weight: 400;
  }
  .el-table__expanded-cell {
    background-color: var(--content-bg);
  }
}

html .el-dialog {
  background-color: var(--dialog-bg);
}
